.notifications {
    position: absolute;
    left: 50%;
    width: fit-content;
    z-index: 999;
    transform: translate(-50%, 0);
}
.alert {
    position: relative;
    margin: auto;
    width: fit-content;
}

.news-item .panel .panel-body {
    min-height: 150px;
}

.equal {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}